@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.about__ralewayheader {
    font-family: Raleway;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}
.about__raleway-text{
    font-family: Raleway;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #86878B;
}
.about__opensans-header{
    font-family: Open Sans;
    font-size: 1px;
}
.about_text-rway{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}